@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-Regular.ttf') format('woff');
    font-weight: normal; 
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geometria';
    src: url('./assets/fonts/Geometria-Medium.ttf') format('woff');
    font-weight: normal; 
    font-style: normal;
    font-display: swap;
}