* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  font-size: $font-size;
  color: $text;
  background-color: $background;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: $titles;
  line-height: 1.25;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

.wrapper {
  padding: 120px 0;
}

.container {
  max-width: 1442px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.map {
  width: 100vh;
  height: 600px;
}

.page-title {
  text-transform: lowercase; 
  margin-bottom: 60px;

}