html {
   font-size: 16px; // 1rem = 16px
}

* {
   box-sizing: border-box;
}

body {
   font-family: $font-primary;
   font-size: $font-size;
   color: $text;
   background-color: $background;
   line-height: 1.4;
   // letter-spacing: -0.2px; увеличивает/уменьшает расстояние между буквами
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 600;
   line-height: 1.25;
}

h1 {
   font-size: 3rem;
}

h2 {
   font-size: 2.5rem;
}

h3 {
   font-size: 2rem;
}

h4 {
   font-size: 1.5rem;
}

h5 {
   font-size: 1.25rem;
}

h6 {
   font-size: 1.125rem;
}

.wrapper {
   padding: 40px;
   
   > a {
   	font-size: 2rem;
   }
}

.header-contacts {
	background-color: #800000;
}

.map-container {
   position: relative;
   width: 100%; /* Карта занимает всю ширину контейнера */
   padding-top: 56.25%; /* Соотношение сторон 16:9 (56.25% = 9/16 * 100) */
   overflow: hidden;
 }
 
 .map {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   // border: none;
 }

.container {
   max-width: 1442px;
   width: 100%;
   padding: 0 12px;
   margin: 0 auto;
}

.page-title {
   text-transform: lowercase; 
   margin-bottom: 60px;
   color: $title;
}

::selection {
   background-color: $accent-hover;
   color: $background;
}

[disabled] {
   &::selection {
      background-color: transparent;
      color: $background;
   }
}