// @use 'variables' as *;

header {
	padding: 15px 0;
	background-color: #191970;
	nav {
		display: flex;
		justify-content: center;
		gap: 36px;
		margin-top: -20px;
	} ;

	a {
		color: $text;
		&:hover {
			color: $titles;
		}

		&.logo {
			padding-left: 12px;
		}
	}

	&.header-contacts {
		background-color: #800000;

		a[href='tel:+38 (050) 555-55-55'] {
			display: block;
         padding: 12px 0 0 12px;
         margin-bottom: -12px;
		}
	}

	.logo::after {
		content: '';
		background: url('../assets/img/logo-right.svg') center;
		width: 24px;
		height: 39px;
		margin: 8px 0 0 -1px;
		position: absolute;
	}
}
