header {
	display: flex;
	align-items: center;
	height: 147px;
	padding: 0 50px;

	.company-name {
		font-size: 2rem;
		font-weight: 600;
		line-height: 1.4;
		margin: 10px 34px 0;
		color: #fff;
	}
	
	.mobile-container {
		display: flex;
		gap: 32px;
		margin-left: auto;

		a {
			font-size: 1.5rem;
			color: $text;
	
			&:hover {
				color: $title;
			}
		}	
	}

	.logo::after {
		content: '';
		background: url('assets/img/logo-right.svg') center;
		width: 24px;
		height: 39px;
		margin-top: 8px;
		position: absolute;
	}

	.burger {
		position: relative;
		display: none;
		width: 44px;
		height: 44px;
		background-color: #20251B;
		border: none;
		border-radius: 8px;
		padding: 0;
		margin-left: auto;
	
		span {
			display: block;
			width: 20px;
			height: 2px;
			background-color: $accent;
			margin: 0 auto;
	
			&::before,
			&::after {
				content: '';
				position: absolute;
				left: 12px;
				top: 15px;
				width: 20px;
				height: 2px;
				background-color: $accent;
			}
	
			&::after {
				top: initial;
				bottom: 15px;
			}
		}
	
		&.active {
			span {
				display: block;
				width: 20px;
				height: 2px;
				background-color: $accent;
				transform: rotate(45deg);
	
				&::before,
				&::after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 20px;
					height: 2px;
					background-color: $accent;
					transform: rotate(90deg);
				}
	
				&::after {
					opacity: 0;
				}
			}
		}
	}
}

