///fonts///
$font-primary: "Geometria";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$backgraund: #080807;
$system: #10100E;
$stroke: #4F4F4F;
$text: #8E938C;
$title: #F7FFEE;
$accent: #F7FFEE;
$accent: #B1FF5C;
$accent-hover: #9AF03C;
$accent-second: #42882A;
$errors: #FF3D3D;
$verification: #FFB444;

