///fonts///
$font-primary: 'Geometria';
$font-secondary: 'monospace';
$font-size: 16px;

///colors///
$background: #080807;
$system: #10100E;
$stroke: #4F4F4F;
$stroke-focus: #8A9385;
$text: #8E938C;
$title: #F7FFEE;
$accent: #B1FF5C;
$accent-hover: #9AF03C;
$accent-second: #42882A;
$errors: #FF3D3D;
$verification: #FFB444;
$verification-stroke: #242424;
$radio-button: #152108;
   
