<form class="form-verification">
   <div class="form-head">
      <h3>верифікація<span class="verification-status verification-status__verification-failed">верифікацію не пройдено</span></h3>
      <div class="form-description">Пройдіть верифікацію особи та отримайте можливість здійснювати обмін фіатних валют та доступ до реферальної програми</div>
   </div>
   <fieldset>
      <h5>місце знаходження</h5>
      <select name="country">
         <option value="country" data-display="країна">країна</option>
         <option value="ua">Україна</option>
         <option value="pl">Польща</option>
         <option value="ch">Чехія</option>
      </select>
   </fieldset>
   <fieldset>
      <h5>особиста інформація</h5>
      <input type="text" placeholder="ім'я" name="personal">
      <input type="text" placeholder="прізвище" name="personal">
      <input type="text" placeholder="по-батькові" name="personal">
      <input type="tel" placeholder="телефон" name="personal">
      <input type="text" placeholder="дата народження" name="personal" data-calendar>
      <div class="control-box">
         <h5 class="control-box__titles">стать</h5>
         <div class="radio-box">
            <input id="female" type="radio" checked name="gender">
            <label for="female">жіноча</label>
         </div>
         <div class="radio-box">
            <input id="male" type="radio" name="gender">
            <label for="male">чоловіча</label>
         </div>
      </div>
   </fieldset>
   <fieldset>
      <h5>адреса проживання</h5>
      <input type="text" placeholder="місто" name="adress">
      <input type="text" placeholder="вулиця" name="adress">
      <div class="form-row">
         <input type="text" placeholder="будинок" name="adress">
         <input type="text" placeholder="квартира" name="adress">
         <input type="text" placeholder="індекс" name="adress" data-index>
      </div>
   </fieldset>
   <fieldset>
      <h5>підтвердження особистості</h5>
      <div class="control-box large-radio">
         <h5 class="control-box__titles">тип документу</h5>
         <div class="form-row">
            <div class="radio-box">
               <input id="passport" type="radio" name="document">
               <label for="passport">паспорт</label>
            </div>
            <div class="radio-box">
               <input id="foreign-passport" type="radio" name="document">
               <label for="foreign-passport">закордонний паспорт</label>
            </div>
            <div class="radio-box">
               <input id="id-card" type="radio" name="document">
               <label for="id-card">id-картка</label>
            </div>
            <div class="radio-box">
               <input id="driver-license" type="radio" name="document">
               <label for="driver-license">посвідчення водія</label>
            </div>
         </div>
      </div>
      <h5>завантажте документ</h5>
      @@include('drop-zone.html')
      <div class="control-box toggle-checkbox">
         <div class="radio-box">
            <input id="validity-period" type="checkbox" name="validity-period">
            <label for="validity-period">немає терміну дії <span>за умови відсутності терміну дії документу</span></label>
         </div>
      </div>
      <input type="text" placeholder="термін дії документу" name="validity-period" data-calendar>
      <button type="button" class="btn-large">продовжити</button>
   </fieldset>
</form>



 <!-- <span class="verification-status verification-status__not-verified">не верифікований</span>
      <span class="verification-status verification-status__under-consideration">заявка розглядається</span>
      <span class="verification-status verification-status__verified">верифікований</span> -->