<form class="form-verification">
   <div class="form-head">
      <h3>верифікація<span class="verification-status verification-status__verification-failed">верифікацію не пройдено</span></h3>
      <div class="form-description">Пройдіть верифікацію особи та отримайте можливість здійснювати обмін фіатних валют та доступ до реферальної програми</div>
   </div>
   <fieldset>
      <h5>місце знаходження</h5>
      <select name="country">
         <option value="country" data-display="країна">країна</option>
         <option value="ua">Україна</option>
         <option value="pl">Польща</option>
         <option value="ch">Чехія</option>
      </select>
   </fieldset>
   <fieldset>
      <h5>особиста інформація</h5>
      <input type="text" placeholder="ім'я">
      <input type="text" placeholder="призвище">
      <input type="text" placeholder="по-батькові">
      <input type="tel" placeholder="телефон">
      <input type="text" placeholder="дата народження" data-calendar>
      <div class="control-box">
         <h5 class="control-box__titles">стать</h5>
         <div class="radio-box">
            <input id="female" type="radio" checked name="gender">
            <label for="female">жіноча</label>
         </div>
         <div class="radio-box">
            <input id="male" type="radio" name="gender">
            <label for="male">чоловіча</label>
         </div>
      </div>
   </fieldset>
</form>



 <!-- <span class="verification-status verification-status__not-verified">не верифікований</span>
      <span class="verification-status verification-status__under-consideration">заявка розглядається</span>
      <span class="verification-status verification-status__verified">верифікований</span> -->