<form class="form-verification">
   <div class="form-head">
      <h3>верифікація<span class="verification-status verification-status__verification-failed">верифікацію не пройдено</span></h3>
      <div class="form-description">Пройдіть верифікацію особи та отримайте можливість здійснювати обмін фіатних валют та доступ до реферальної програми</div>
   </div>
   <fieldset>
      <h5>Країна знаходження</h5>
      <input type="text" placeholder="ім'я">
      <input type="text" placeholder="призвище">
      <input type="text" placeholder="по-батькові">
      <input type="text" placeholder="телефон">
   </fieldset>
</form>



 <!-- <span class="verification-status verification-status__not-verified">не верифікований</span>
      <span class="verification-status verification-status__under-consideration">заявка розглядається</span>
      <span class="verification-status verification-status__verified">верифікований</span> -->