<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#188de7">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="../assets/css/nice-select.css" type="text/css"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="shortcut icon" href="../assets/img/icon-slon.png" type="image/x-icon">
    <title>Сборка dev-formlarge</title>
</head>
<body>
