@media screen and (max-width: 767.9px) {
   header {
      height: 70px;
      border-bottom: 1px solid $verification-stroke;
      
      span {
         font-size: 1rem;
         margin-left: 18px;
      }

      .logo::after {
         width: 14px;
         height: 22px;
         background: url('assets/img/logo-right-mobile.svg') center;
         margin-top: 5px;
      }
   }

   .wrapper {
      padding: 0;
   }

   .container {
      padding: 20px;
   }

   .page-title {
      display: none;
   }

   .form-head {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;

      .verification-status {
         display: block;
         width: fit-content;
         margin: 10px 0 0;
      }

      .form-description {
         max-width: 705px;
         font-size: 1rem;
         line-height: 1.5;
      }
   }

   input {
      padding: 21.5px 20px;
   
      &::placeholder {
         font-size: 0.875rem;
         line-height: 1.7;
      }
   }

   fieldset {
      gap: 20px;
      margin-bottom: 40px;

      > h5:first-child {
         font-size: 0.875rem;
         line-height: 1.286;
         padding-bottom: 8px;
         margin-bottom: 0;
      }   
      
      > h5:nth-of-type(2) {
         font-size: 0.875rem;
         line-height: 1.286;
         margin: 0 0 -4px;
      }
   }
   
   [type='radio'], [type='checkbox'] {
      & + label {
         font-size: 0.875rem;
         padding-left: 39px;
      }
   }

   .radio-box {
      margin-right: 28px;
   }

   .nice-select {
      height: 65px;
      
      .list {
         font-size: 0.875rem;
      }
      
      span {
         font-size: 0.875rem;
      }
   }
   
   .control-box.large-radio {
      margin: 8px 0;
   }
   
   .control-box-title {
      font-size: 0.875rem;
      line-height: 1.286;
      margin-bottom: 16px;
   }

   .large-radio .form-row {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;

      .radio-box {
         flex: 1 1 calc(50% - 16px);
      }
   }

   .large-radio [type='radio'] + label {
      display: flex;
      height: 68px;
      font-size: 0.875rem;

      span {
         font-size: 0.875rem;
      }
   }

   .form-row {
      flex-direction: column;
      gap: 20px;
   }
   
   #drop-zone label {
      margin: -4px 0px;

      span {
         font-size: 0.9375rem;
      }

      .hide-on-small {
         display: none;
      }
         
      .color-accent {
         font-size: 0.875rem;
      }
   }

   .toggle-checkbox .radio-box [type='checkbox'] + label {
      height: 41px;
      padding-left: 68px;
      font-size: 0.9375rem;

      span {
         font-size: 0.875rem;
         line-height: 1.286;
      }
   }

   .btn-large {
      font-size: 1rem;
      line-height: 1.5;
      padding: 23px;
   }

   .calendar-container img {
      top: 25px;
   }
}
